<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        *{
            box-sizing: border-box;
        }
        
        body {
            background-color: rgba(0, 255, 255, 0.205);
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            overflow: hidden;
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>About</h1>

    <p>This is a basic password generator build by using some basic HTML and basic django. <br>
    This side generate random password.
    </p>

    <h1><a href="{%url 'home'%}">home</a></h1>
    </body>
</html>

