<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Password</title>
    <style>
        *{
            box-sizing: border-box;
        }
        
        body {
            background-color: rgba(0, 255, 255, 0.205);
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            overflow: hidden;
            margin: 0;
        }
    </style>
</head>
<body>
            <h2>Password</h2>
        
        <h2><a href="{%url 'home'%}">Home</a></h2>
    
        <h1>Your Password</h1>
        <h2>{{password}}</h2>
</body>
</html>

